<html>
<head>
{{ pagedown.html_head() }}
<style>
.flask-pagedown-input {
}
.flask-pagedown-preview {
    border: 1px dotted black;
    background-color: #f0f0f0;
}
</style>
</head>
<body>
    <h1>Flask-PageDown Demo</h1>
    {% if text %}
    <div>
        <p>Received text was:</p>
        <pre>{{ text }}</pre>
    </div>
    <hr>
    {% endif %}
    <div style="width: 500px;">
        <form method = "POST">
            <div>
                <b>{{ form.pagedown.label }}</b>:
                {{ form.pagedown(rows = 10, style = 'width:100%') }}
            </div>
            <div>{{ form.submit() }}</div>
        </form>
    </div>
</body>
</html>
